# Ignore node_modules folder
node_modules/

# Ignore compiled JavaScript files
dist/
build/

# Ignore log files
*.log

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore environment variable files (optional, if you have them)
.env

#any personal notes
notes/
